<a href="https://colab.research.google.com/github/wlstjwlstj/BP_05_Ch5/blob/main/BP_05_Ch5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 다음 프로그램의 출력은 무엇인가?

In [ ]:
age=20
if age<20:           #age의 값이 20미만인 경우에 참
  print("20살 미만")
else:                #age의 값이 20이상인 경우에 "20살 이상" 출력
  print("20살 이상")  
#20은 20 미만이 아니므로 20살 이상으로 출력됨

20살 이상

2. 1번 문제에서 age가 30 이상이고 50이하인 것을 체크하려면 어떻게 하여야 하는가?

In [5]:
age=30
#논리연산자 and 사용하여 조건 설정
if age>=30 and age<=50:  #age의 값이 30이상 50이하인 경우 "30살 이상 50살 이하" 출력
   print("30살 이상 50살 이하")
elif age<30:  #age의 값이 30미만인 경우 "30살 미만" 출력
   print("30살 미만")
else:   #age의 값이 50초과인 경우 "50살 초과" 출력
   print("50살 초과")

30살 이상 50살 이하

3. 사용자에게 현재 온도를 질문하고 온도가 25도 이상이면 반바지를 추천하고 25도 미만이면 긴바지를 추천하는 프로그램을 작성해보자.

In [6]:
temp=int(input("현재 온도를 입력하시오: "))  #사용자로부터 온도 입력받음
if temp>=25:  #온도가 25도 이상인 경우 "반바지를 입으세요" 출력
  print("반바지를 입으세요")
else:  #온도가 25도 미만인 경우 "긴바지를 입으세요" 출력
  print("긴바지를 입으세요")

현재 온도를 입력하시오: 10
긴바지를 입으세요

4. 학생의 시험 점수를 물어보고 시험 점수가 90이상이면 A, 80점 이상이면 B, 70점 이상이면 C, 60점 이상이면 D, 그외의 점수이면 F를 학점으로 주는 프로그램을 작성하라.

In [8]:
grade=int(input("성적을 입력하시오: "))  #사용자로부터 성적 입력받음
if grade>= 90:                  #grade의 값이 90점 이상이면 "A" 출력
  print("A")
elif grade>= 80 and grade< 90:  #grade의 값이 90점 미만 80점 이상이면 "B" 출력
  print("B")
elif grade>= 70 and grade< 80:  #grade의 값이 80점 미만 70점 이상이면 "C" 출력
  print("C")
elif grade>= 60 and grade< 70:  ##grade의 값이 70점 미만 60점 이상이면 "D" 출력
  print("D")
else:  #그 외의 값은 "F" 출력
  print("F")

성적을 입력하시오: 99
A

5. 난수를 사용하여 1부터 100 사이의 숫자를 사용하는 뺄셈 문제를 생성하고 사용자에게 물어본 후에 사용자의 답변이 올바른지를 검사하는 프로그램을 작성하라.

In [9]:
import random
x= random.randint(1,100)  #1부터 100사이의 난수 발생
y= random.randint(1,100)  #1부터 100사이의 난수 발생
n=int(input(str(x)+"-"+str(y)+"="))  #사용자로부터 답 입력받음
if n==(x-y):  #사용자로부터 입력받은 답이 계산값과 일치하면 "맞았습니다" 출력
   print("맞았습니다.") 
else:  #답이 계산값과 다르면 "틀렸습니다." 출력
   print("틀렸습니다.")

69-85=-16
맞았습니다.

6. 사용자로부터 정수를 받아서 이 정수가 2와 3으로 나누어 떨어질 수 있는지를 출력하라.